aside{
    flex: 25%;
    padding: 20px;
    background-color: white;
    background: linear-gradient(rgb(74, 62, 180), rgb(122, 247, 122));
}

aside h2, aside h3{
    color: var(--color-primary-);
}
.video-link img{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    object-fit: cover;

}
.video-link h4{
    opacity: 0;
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 10px;
    transition: all 0.3;
}
.video-link h4:hover{
    opacity: 1;
}