@import "colors.css";
@import "common.css";
@import "header.css";
@import "navbar.css";
@import "aside.css";
@import "content.css";
@import "footer.css";
@import "flipcard.css";

.row{
    display: flex;
    flex-wrap: wrap;
}

.main{
    flex: 75%;
    
    background-color: white;
    background: linear-gradient(rgb(42, 99, 70), yellow);
}
@media screen and (max-width: 700px){
    .navbar, .row{
        flex-direction: column;
    }
}