.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-primary);
}
.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    background-color: var(--color-primary-dark);
}
@media screen and (max-width:700px) {
    .navbar, .row{
        flex-direction: column;
    }
}